body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://cdn3.bigcommerce.com/s-9iypfl5/product_images/uploaded_images/-e5928dd46c167b9e9cbefe1849d8553bd3d62d87422130d733-pimgpsh-fullsize-distr.jpg');
}

a 
  color: #00B7FF;
}
